/* إعدادات عامة */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* زر الفتح */
.open-btn {
  margin: 16px;
  padding: 10px 16px;
  background-color: #264381;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* place this btn in same line with WordConter of the navbar */
  position: relative;
  bottom: 70px;
}

/* الخلفية السوداء */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

/* الـ Sidebar نفسه */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);

  /* الإخفاء */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

/* عند الفتح */
.sidebar.active {
  transform: translateX(0);
}

/* زر الإغلاق */
.close-btn {
  width: 100%;
  padding: 12px;
  text-align: right;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* قائمة الروابط */
.menu {
  padding: 16px;
}

.menu a {
  display: block;
  margin-bottom: 12px;
  color: #374151;
  text-decoration: none;
}

.menu a:hover {
  color: #2563eb;
}
